In [1]:
import pandas as pd

In [2]:
import openpyxl as op

In [3]:
#Para liberar acesso ao diretório onde se encontra os arquivos
import os

In [4]:
#Chamando para leitura os arquivo em Excel
vendas2021 = pd.read_excel(r"C:\Users\Usuário\Documents\Arquivos_Python_Engenharia_Dados\Origem\arquivos_excel\Consolidar\Vendas2021.xlsx")
vendas2022 = pd.read_excel(r"C:\Users\Usuário\Documents\Arquivos_Python_Engenharia_Dados\Origem\arquivos_excel\Consolidar\Vendas2022.xlsx")
vendas2023 = pd.read_excel(r"C:\Users\Usuário\Documents\Arquivos_Python_Engenharia_Dados\Origem\arquivos_excel\Consolidar\Vendas2023.xlsx")

In [5]:
#Chamando as 5 primeiras linhas da planilha
vendas2021.head(5)

,Data,Id Venda,IdCategoria,Categoria,IdPais,Pais,idProduto,Produto,Custo fabricacao,Unidades Vendidas,Preco venda,Vendas total,Descontos
0,2021-04-02,573,1,Moda,636,Alemanha,15,Shorts,10,1033,20,20660,3674.400
1,2021-04-02,599,4,Acessórios,637,França,12,Relogio,120,739,15,11085,7795.125
2,2021-04-02,1125,1,Moda,636,Alemanha,15,Shorts,10,790,20,15800,3674.400
3,2021-04-02,1151,4,Acessórios,637,França,12,Relogio,120,953,15,14295,7795.125
4,2021-04-06,394,5,Automitivos,639,USA,8,Limpa vidros,250,290,300,87000,19392.000

In [6]:
#Chamando as 5 primeiras linhas da planilha
vendas2022.head(5)

,Data,Id Venda,IdCategoria,Categoria,IdPais,Pais,idProduto,Produto,Custo fabricacao,Unidades Vendidas,Preco venda,Vendas total,Descontos
0,2022-12-30,267,1,Moda,639,USA,15,Shorts,250,701,7,4907,199.5
1,2022-12-30,819,1,Moda,639,USA,15,Shorts,250,677,7,4739,199.5
2,2022-12-29,120,4,Acessórios,639,USA,12,Relogio,10,81,15,1215,577.5
3,2022-12-29,160,3,Eletrônicos,636,Alemanha,9,Notebook,10,481,125,60125,5887.5
4,2022-12-29,712,3,Eletrônicos,636,Alemanha,9,Notebook,10,784,125,98000,5887.5

In [7]:
#Chamando as 5 primeiras linhas da planilha
vendas2023.head(5)

,Data,Id Venda,IdCategoria,Categoria,IdPais,Pais,idProduto,Produto,Custo fabricacao,Unidades Vendidas,Preco venda,Vendas total,Descontos
0,2023-04-02,573,1,Moda,636,Alemanha,15,Shorts,10,1033,20,20660,3674.400
1,2023-04-02,599,4,Acessórios,637,França,12,Relogio,120,739,15,11085,7795.125
2,2023-04-02,1125,1,Moda,636,Alemanha,15,Shorts,10,790,20,15800,3674.400
3,2023-04-02,1151,4,Acessórios,637,França,12,Relogio,120,953,15,14295,7795.125
4,2023-04-06,394,5,Automitivos,639,USA,8,Limpa vidros,250,290,300,87000,19392.000

Consolidando arquivos de uma pasta

In [ ]:
#Chamando o diretório onde se encontram os arquivos que quero buscar
diretorio = (r"C:\Users\Usuário\Documents\Arquivos_Python_Engenharia_Dados\Origem\arquivos_excel\Consolidar")

#Lista vazia onde irei adicionar os arquivos, chamarei essa lista no loop para adicionar os arquivos nela
dados = []

#Loop onde vou varrer o diretório para buscar os arquivos com a extensão .xlsx, onde na primeira linha estou indicando o diretorio que criei logo acima.
#Na segunda linha, estou fazendo a condição de buscar apenas os arquivos com a extensão .xlsx
#Na terceira linha estou untando as informações do diretorio e dos arquivos em si
#NA quarta estou chamando a função pandas para leitura dos arquivos chamando a variavel que criei acima
#NA quinta estou adicionando as informações na lista vazia que havia criado anteriormente

for arquivo in os.listdir(diretorio):
    if arquivo.endswith('.xlsx'):
        caminho_arquivo = os.path.join(diretorio, arquivo)
        df = pd.read_excel(caminho_arquivo)
        dados.append(df)

#Concatenando todas as informações na lista de dados e logo após chamando todas as informações, onde me virá como respota as 5 primeiras e as 5 ultimas linhas.
consolidado = pd.concat(dados)
consolidado

Salvando arquivo consolidado em outra pasta Formato Excel

In [9]:
#Indicando d caminho da pasta de destino
pasta_destino = r'C:\\Users\\Usuário\\Documents\\Arquivos_Python_Engenharia_Dados\\Origem\\arquivos_excel\\Consolidar\\Arquivos consolidados\\'

#Criando variavel que recebe o nome do arquivo indicando no final a extensão do arquivo
nome_arquivo = "VendasGeral.xlsx"

#Concatenando as informações da pasta de destino com o nome d novo arquivo que receberá a junção das planilhas que foi realizado anteriormente
Caminho_completo = pasta_destino + nome_arquivo

#Importando o arquivo para o tipo Excel chamando a variavel a qual havia concatenado as informações da pasta de destino com o nome do arquivo 
# .xlsx. O index é referente ao indice de cada planilha, colocando como False para não vir com a numerção de cada planilha pois ficaria errado.
consolidado.to_excel(Caminho_completo, index=False)

Salvando o consolidado para arquivo .CSV

In [13]:
import os
pasta_destino = r'C:\\Users\\Usuário\\Documents\\Arquivos_Python_Engenharia_Dados\\Origem\\arquivos_excel\\Consolidar\\Arquivos consolidados\\'

nome_arquivo = "VendasGeral2.csv"

Caminho_Completo = pasta_destino + nome_arquivo

consolidado.to_csv(Caminho_Completo, index=False, sep=',')

Salvando em formato TXT

In [14]:
import os
pasta_destino = r'C:\\Users\\Usuário\\Documents\\Arquivos_Python_Engenharia_Dados\\Origem\\arquivos_excel\\Consolidar\\Arquivos consolidados\\'

nome_arquivo = "VendasGeral3.txt"

Caminho_Completo = pasta_destino + nome_arquivo

consolidado.to_csv(Caminho_Completo, index=False, sep=',')